// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/navbar.scss";
@import "./components/footer.scss";
@import "./components/video-player.scss";
@import "./components/mixins.scss";

// Screens
@import "./screens/base.scss";
@import "./screens/upload.scss";
@import "./screens/join.scss";
@import "./screens/login.scss";
@import "./screens/profile.scss";
@import "./screens/record.scss";
@import "./screens/edit-profile.scss";
@import "./screens/change-password.scss";
@import "./screens/edit.scss";
@import "./screens/watch.scss";
// Defaults
* {
  box-sizing: border-box;
}

.outBtn {
  text-decoration: none;
  font-weight: 700;
  color: rgb(75, 31, 75);
}
