.uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: left;

  background-color: white;
  color: black;

  width: 380px;
  height: 330px;

  box-shadow: rgb(244, 244, 244) 2px 2px 10px 0px;
  border: 1px solid $input;
  border-radius: 5px;

  input {
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $input;
    margin-bottom: 20px;
    padding: 6px 13px 6px 13px;
  }
  .label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 330px;
    height: 40px;

    font-size: 14px;
    background-color: $input;

    border-radius: 5px;
    border: 1px solid $input;
    margin-bottom: 20px;

    padding: 6px 13px 6px 13px;
    &:hover {
      background-color: $inputHover;
    }
  }
  .submit {
    cursor: pointer;
    background-color: $input;
    padding: 6px 13px 6px 13px;
    &:hover {
      background-color: $inputHover;
    }
  }
  .upload {
    display: none;
  }
}
