doctype html
html(lang="en")
    head
        title #{pageTitle} | Firetube
        link(rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>")
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        nav(style="box-shadow: 2px 2px 10px #f4f4f4; border: 1px solid #e9e9e9;")
            ul 
                li 
                    a(href="/", style="color: black; font-size: 20px") 🔥 Firetube
                li
                    a(href="http://localhost:4000/videos/upload", style="color: gray") upload
        header
            h1 🔥 #{pageTitle}
        main
            block content
    include partials/footer.pug