doctype html
html(lang="en")
    head
        title #{pageTitle} | Firetube
        link(rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        //-link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        include partials/navbar.pug 
        header
            h1 🔥 #{pageTitle}
        main
            block content
        include partials/footer.pug
    block scripts