extends base.pug

block content
    form(method="POST")
        if errorMessage
            h4 ❌ #{errorMessage}
        input(type="password", name="oldPassword", placeholder="Old Password", required)
        input(type="password", name="newPassword", placeholder="New Password", required)
        input(type="password", name="newPasswordConfirm", placeholder="New Password again", required)
        input(type="submit", value="Change Password")