extends base.pug

block content
    form
        img(src="/" + user.avatarUrl, width="100", height="100")
    br
    form
        h4=user.email 
        h4=user.username 
        h4=user.name 
        h4=locatin
        if user.id === loggedInUser._id
            br
            a(href="edit-profile") Edit Profile &rarr;
