nav
    ul 
        li 
            a(href="/", style="color: black; font-size: 20px") 🔥 Firetube
        if loggedIn
            li
                a(href="/videos/upload") upload
    form(method="GET", action="/search")
        input(type="text", name="keyword")
        button(type="submit")
            i.fas.fa-magnifying-glass
    ul
        if !loggedIn 
            li 
                a(href="/join") join  
            li 
                a(href="/login") login 
            li
                a(href="/login")
                    img(src="/images/anonymous.png")
        else
            li 
                a(href="/videos/record") record
            li 
                a(href="/users/logout") logout 
            li
                a(href=`/users/${loggedInUser._id}`)
                    if (loggedInUser.socialOnly)
                        img(src=loggedInUser.avatarUrl, width="30", height="30", style="border-radius: 70px")
                    else    
                        img(src="/" + loggedInUser.avatarUrl, width="30", height="30") 